
<title>{{ title }} | {{ site.url | replace("https://", "") | capitalize }}</title>
{% if (description) %}
<meta name="description" content="{{ description }}">
{% else %}
<meta name="description" content="{{ site.description }}">
{% endif %}
<meta name="author" content="{{ site.authorName }}">


<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<link rel="icon" type="image/x-icon" href="/favicon.png"/>
<link rel="apple-touch-icon" sizes="180x180" href="/assets/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/assets/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/assets/favicon-16x16.png">
<link rel="manifest" href="/assets/site.webmanifest">
<meta name="msapplication-TileColor" content="{{ site.color }}">
<meta name="theme-color" content="{{ site.color }}">

<meta property="og:title" content="{{ title }}{{ site.name }}" />
<meta property="og:description" content="{{ site.description }}" />
<meta property="og:type" content="website"/>
<meta property="og:image" content="/assets/ogimage.png"/>
<!-- <meta property="og:image:secure_url" content="/assets/img/social.jpg"/> -->
<meta name="twitter:image:src" content="/assets/ogimage.png">

<noscript>
    <link rel="stylesheet" href="assets/css/local.min.css">
</noscript>

<link rel="stylesheet" href="/assets/css/critical.min.css">
<link rel="stylesheet" href="/assets/css/main.min.css">

