---
layout: "layouts/base.njk"
name: home
home: true
---
    <div class="cube-container">
      <div class="cube">
        <div class="face front">
            <picture class="img brick">
                <source srcset="/assets/img/cheese.jpg" media="(min-width: 600px)"> 
                <img id="brick" src="/assets/img/cheese-m.jpg" alt="{{ imgAlt }}" loading=“lazy” decoding=“async”> 
            </picture>
        </div>
        <div class="face back">
            <picture class="img brick">
                <source srcset="/assets/img/cheese.jpg" media="(min-width: 600px)"> 
                <img id="brick" src="/assets/img/cheese-m.jpg" alt="{{ imgAlt }}" loading=“lazy” decoding=“async”> 
            </picture>
        </div>
        <div class="face left">
            <picture class="img brick">
                <source srcset="/assets/img/cheese.jpg" media="(min-width: 600px)"> 
                <img id="brick" src="/assets/img/cheese-m.jpg" alt="{{ imgAlt }}" loading=“lazy” decoding=“async”> 
            </picture>
        </div>
        <div class="face right">
            <picture class="img brick">
                <source srcset="/assets/img/cheese.jpg" media="(min-width: 600px)"> 
                <img id="brick" src="/assets/img/cheese-m.jpg" alt="{{ imgAlt }}" loading=“lazy” decoding=“async”> 
            </picture>
        </div>
        <div class="face top">
            <picture class="img brick">
                <source srcset="/assets/img/cheese.jpg" media="(min-width: 600px)"> 
                <img id="brick" src="/assets/img/cheese-m.jpg" alt="{{ imgAlt }}" loading=“lazy” decoding=“async”> 
            </picture>
        </div>
        <div class="face bottom">
            <picture class="img brick">
                <source srcset="/assets/img/cheese.jpg" media="(min-width: 600px)"> 
                <img id="brick" src="/assets/img/cheese-m.jpg" alt="{{ imgAlt }}" loading=“lazy” decoding=“async”> 
            </picture>
        </div>
      </div>


